.header
{
  margin: auto;
  width: 100%;
  height: 125px;
  margin: 0px;
  padding-top: 25px;
  background-color: lightblue;
  text-align: center;
}

.header h1
{
  font-family: Helvetica, Arial, sans-serif;
}

.navbar
{
  overflow: hidden;
  background-color: rgb(36, 36, 36);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a
{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.body
{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.main
{
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
  background-color: white;
  padding: 20px;
}

.side
{
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.img
{
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.sideImg
{
  background-color: #aaa;
  width: 20%;
  padding: 20px;
}